---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Build your next venture | Vuldesk Technology Private Limited',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Services', href: '#services' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Contact', href: '#contact' },
      ]}
      actions={[
        {
          text: 'Schedule a call',
          href: 'mailto:contact@vuldesk.com',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="vuldesk"
    actions={[{ variant: 'primary', text: 'Start building', href: 'mailto:contact@vuldesk.com' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Your <span class="hidden sm:inline">Premier</span>
      <span class="text-accent dark:text-white highlight">Destination</span> for Cutting-Edge Software Solutions
    </Fragment>

    <Fragment slot="subtitle">
      At <span class="font-semibold">Vuldesk</span>, we're dedicated to bringing your ideas to life through cutting-edge
      software development solutions. Trust us to be your partner in excellence.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->
  <Features2
    id="services"
    title="What services do we provide?"
    subtitle="comprehensive range of software development services to propel your business forward"
    tagline="our services"
    items={[
      {
        title: 'Custom Software Development',
        description: 'Tailored solutions designed to address your specific business challenges and opportunities.',
        icon: 'flat-color-icons:support',
      },
      {
        title: 'Web Application Development',
        description: 'Engaging and responsive web applications that captivate your audience and drive results.',
        icon: 'flat-color-icons:self-service-kiosk',
      },
      {
        title: 'Mobile App Development',
        description:
          'Innovative mobile applications built for iOS and Android platforms to reach your customers wherever they are.',
        icon: 'flat-color-icons:two-smartphones',
      },
      {
        title: 'UI/UX Design',
        description:
          'Intuitive and visually appealing user interfaces crafted to deliver exceptional user experiences.',
        icon: 'flat-color-icons:edit-image',
      },
      {
        title: 'Enterprise Solutions',
        description:
          'Scalable and robust enterprise solutions to streamline your business processes and enhance productivity.',
        icon: 'flat-color-icons:services',
      },
      {
        title: 'Maintenance and Support',
        description: 'Ongoing maintenance and support services to keep your software running smoothly and efficiently.',
        icon: 'flat-color-icons:synchronize',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** -->
  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'About:',
        description:
          'use vuldesk notifier to manage #NEPSE stock price alerts, manage portfolios and integrate messaging platforms for notifications.',
      },
      {
        title: 'Deliverables:',
        description:
          'Design, development, and deployment of a web application for managing #NEPSE stock price alerts and portfolios. Integration with messaging platforms for notifications.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1439434768192-c60615c1b3c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://notifier.vuldesk.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Vuldesk Notifier: <br /><span class="text-2xl">Create #NEPSE alerts and manage porfolio</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isAfterContent={true}
    items={[
      {
        title: 'About:',
        description:
          'Cosmos is a platform for managing posts and feedback for Vuldesk. Partners can create blog posts, integrate APIs with their websites, and manage feedback from their customers.',
      },
      {
        title: 'Deliverables:',
        description: `Design, development, and deployment of a web application and APIs. Expose APIs for partners to integrate with their websites.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://cosmos.vuldesk.com/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Vuldesk Cosmos: <br /><span class="text-2xl">CRM for posts and feedback management</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->
  <Steps2
    id="contact"
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: 'mailto:contact@vuldesk.com',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@vuldesk.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us',
        description: '@vuldesk_tech',
        icon: 'tabler:brand-twitter',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Ready to boost your projects?"
    subtitle="Connect with us to build your new venture."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: 'mailto:contact@vuldesk.com',
      },
    ]}
  />
</Layout>
