---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Vulnerabilities at Your Desk | Vuldesk Technology Private Limited',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'Services', href: '#services' },
        { text: 'Contact', href: '#contact' },
      ]}
      actions={[
        {
          text: 'Schedule a call',
          href: 'https://calendar.app.google/Qf3Lw4ekSRZw9mwv9',
          target: '_blank',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero Widget ******************* -->
  <Hero
    tagline="vuldesk"
    actions={[{ variant: 'primary', text: 'Book a Pentest', href: 'mailto:contact@vuldesk.com' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Vulnerabilities</span> at Your Desk
    </Fragment>

    <Fragment slot="subtitle">
      We help businesses stay one step ahead of <span class="font-semibold">cyber threats</span> with world-class penetration
      testing.
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->
  <Features2
    id="services"
    title="What services do we provide?"
    tagline="our services"
    items={[
      {
        title: 'Web & Mobile Pentesting',
        description: 'Stop attackers at the application level.',
        icon: 'flat-color-icons:support',
      },
      {
        title: 'Network & Infrastructure Security',
        description: 'Harden your firewalls, servers, and endpoints.',
        icon: 'flat-color-icons:self-service-kiosk',
      },
      {
        title: 'Cloud Security Reviews',
        description: 'AWS, Azure, and GCP risk assessments.',
        icon: 'flat-color-icons:two-smartphones',
      },
      {
        title: 'Red Teaming & Social Engineering',
        description: 'Realistic attack simulations.',
        icon: 'flat-color-icons:edit-image',
      },
      {
        title: 'Risk Assessment',
        description:
          'Gather and identify information and information systems, analyze it, and assign risk ratings to your information systems.',
        icon: 'flat-color-icons:services',
      },
      {
        title: 'Incident Response',
        description: 'Prepare for, manage, and recover from data breaches and network attacks.',
        icon: 'flat-color-icons:synchronize',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Steps2 Widget ****************** -->
  <Steps2
    id="contact"
    title="Don’t wait for a breach."
    subtitle="Hackers are already scanning your business."
    callToAction={{
      text: 'Contact us',
      href: 'https://calendar.app.google/Qf3Lw4ekSRZw9mwv9',
      target: '_blank',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@vuldesk.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us',
        description: '@vuldesk-technology',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>

  <!-- CallToAction Widget *********** -->
  <CallToAction
    title="Ready to outsmart hackers?"
    subtitle="Let’s secure your business before they strike."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: 'https://calendar.app.google/Qf3Lw4ekSRZw9mwv9',
        target: '_blank',
      },
    ]}
  />
</Layout>
